
* {
font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
  background-color: #84a59d;
  color: #fefae0;
  padding: 15px;
  width: 100%;
}

.greeting {
  font-size: 22px;
}

.wrap {
  padding: 15px;
  text-align: center;
  background-color: #f7ede2;
  
}

.form {
  font-size: 18px;
  background-color: #f6bd60;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.label{
  padding: 15px;
  margin: 15px;
  color: #00509d;
}

.nameInput{
  margin: 15px;
}
.askForName {
  margin-top: 10px;
  margin-bottom: 10px;
 
}

.selectPizza {
  display: flex;
  flex-direction: column;
}

.price {
  font: 18px;
  font-weight: bold;
}

.selectPizza button {
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
}
.pizzaType {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pizzaType > button {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.pizzaTypeImg {
  width: 80%;
  height: auto;
}

form.is-step-1 .step-2,
form.is-step-1 .step-3,
form.is-step-1 .orderComplete {
  display: none;
}

form.is-step-2 .step-1 button,
form.is-step-2 .step-3,
form.is-step-2 .orderComplete {
  display: none;
}

form.is-step-3 .step-1 button,
form.is-step-3 .orderComplete {
  display: none;
}

form.is-step-4 .step-3 button,
form.is-step-4 .step-1 button {
  display: none;
}

.orderComplete{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #00509d;
  background-color: #84a59d;
}

.completeMessage {
  color: white;
}
.orderImage {
  width: 30%;
}


