
* {
font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
  background-color: #283618;
  color: #fefae0;
  padding: 15px;
  width: 100%;
}

.greeting {
  font-size: 22px;
}

.wrap {
  padding: 15px;
  text-align: center;
  background-color: #fefae0;
  margin: 15px;
}

.form {
  font-size: 18px;
  background-color: #606c38;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.label{
  padding: 15px;
  margin: 15px;
  color: white;
}

.nameInput{
  margin: 15px;
}
.askForName {
  margin-top: 10px;
  margin-bottom: 10px;
 
}

.selectPizza {
  display: flex;
  flex-direction: column;
}

.pizzaType {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pizzaType > button {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.pizzaTypeImg {
  width: 80%;
  height: 200px;
}

form.is-step-1 .step-2,
form.is-step-1 .step-3,
form.is-step-1 .step-4 {
  display: none;
}

form.is-step-2 .step-1 button,
form.is-step-2 .step-3,
form.is-step-2 .step-4 {
  display: none;
}

.is-step-3 .step-4,
.is-step-3 .step-1 button {
  display: none;
}

.is-step-4 .step-3 button,
.is-step-4 .step-1 button {
  display: none;
}



