
* {
font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
  color: blue;
}

.askForName {
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectPizza {
  display: flex;
  flex-direction: column;
}

.pizzaType {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pizzaType > button {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.pizzaTypeImg {
  width: 80%;
  height: 200px;
}


